* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #87ceeb, #00bfff);
}

.con {
    background-color: skyblue;
    width: 100%;
    max-width: 400px;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);


}

#qrImage {
    margin-bottom: 6px;
    display: none;
    border: 1px solid #ccc;
}

.inputcon {
    padding: 10px;
    border: 0.001px solid rgb(71, 71, 71);
    border-radius: 5px;
   
}

#qrText {
    outline: none;
    border: none;
     background-color: white;
}

.btncon button {
    padding: 7px;
    border: 0.001px solid rgb(71, 71, 71);
    border-radius: 5px;
    background: linear-gradient(to right, #83d8ff, #4ec1ff);
}
.dev h6{
    font-weight: 200;
    margin-top: 20px;
    color: rgb(78, 78, 78);
}
.devnam{
    font-weight:bold;
    color: rgb(54, 54, 54);
}